<div class="contents_row" >
  <h3><%= @nickname %>さんの投稿一覧</h3>
  <% @tweets.each do |tweet| %>
    <%= render partial: "tweets/tweet", locals: { tweet: tweet } %>
  <% end %>
  <%= paginate(@tweets) %>
</div>